FreeSimpleGUI
typing
numpy
openai
groq
requests
Pygments
pyodbc
pandas
fitz
matplotlib
pillow
openpyxl
scikit-learn
torch
tensorflow
scipy
seaborn
soundfile
sounddevice
loguru
statsmodels
dotenv
python-dotenv
openai
langchain
langgraph
tiktoken
pinecone
beautifulsoup4
requests
tqdm
ipywidgets
google-genai
typing_extensions
pathlib
nltk
bs4
lxml
gensim
plotly
google
pinecone
ipython
tenacity
termcolor
jupyterlab
playwright
langchain-community
langchain-openai
datasets
protobuf
langchain-core
textblob
transformers
sentence-transformers
mglearn